<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <style>
        form{
            width: max-content;
            height: max-content;
            background-color: gray;
            padding: 35px;
            text-align: center;
            border: 2px solid black;
            margin-left: 500px;
        }
        form input{
            padding: 5px;
            border: 2px solid black;
            border-radius: 5px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <%- include("nav") %> <br><br>
    <div id="form">
        <form action="/user/signup" method="post" id="form">
            <h1>Signup</h1>
            <input type="text" name="username" placeholder="username" id="username"><br><br>
            <input type="email" name="email" placeholder="email" id="email"><br><br>
            <input type="text" name="password" placeholder="password" id="password"><br><br>
            <input type="submit">
        </form>
    </div>
</body>
</html>